.chat-page{
    display:flex;
    min-height:100vh;
    background:#f4f6f9;
}

.chat-container{
    flex:1;
    display:flex;
    flex-direction:column;
    padding:20px;
}

.chat-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:white;
    padding:15px;
    border-radius:8px;
    margin-bottom:20px;
}

.online{
    color:green;
    font-weight:bold;
}

.chat-box{
    flex:1;
    background:white;
    padding:20px;
    border-radius:8px;
    overflow-y:auto;
    min-height:500px;
}

.message{
    max-width:60%;
    margin-bottom:15px;
    padding:12px;
    border-radius:10px;
}

.founder{
    background:#dbeafe;
    margin-left:auto;
}

.investor{
    background:#e5e7eb;
}

.chat-input{
    display:flex;
    margin-top:20px;
}

.chat-input input{
    flex:1;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
}

.chat-input button{
    margin-left:10px;
    padding:12px 25px;
    background:#2563EB;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}