.login-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0F172A,#1E3A8A,#2563EB);
}

.login-box{
    width:420px;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.25);
}

.login-box h1{
    text-align:center;
    color:#1E3A8A;
    margin-bottom:30px;
}

.login-box input,
.login-box select{
    width:100%;
    padding:14px;
    margin:12px 0;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:16px;
}

.login-box button{
    width:100%;
    padding:14px;
    background:#1E3A8A;
    color:white;
    border:none;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
    margin-top:15px;
}

.login-box button:hover{
    background:#16327a;
}

.register-link{
    margin-top:20px;
    text-align:center;
}