.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.5);
    display:flex;
    justify-content:center;
    align-items:center;
}

.modal{
    background:white;
    padding:30px;
    border-radius:10px;
    width:450px;
}

.modal button{
    margin-top:20px;
    background:#1E3A8A;
    color:white;
    border:none;
    padding:10px 20px;
    cursor:pointer;
}